* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Inter";
}
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.header {
    background-color: #a5e4f8;
    .logo {
        width: 150px;
    }
    .box-search {
        max-width: 365px;
        width: 100%;
        .search__bar {
            outline: unset;
            height: 40px;
            border-radius: 8px;
            max-width: 280px;
            width: 100%;
            padding: 0 16px;
            border: 2px solid rgba(0, 0, 0, 0.142);
        }
        .background-search {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 20px;
            background-color: #0088ff;
            color: white;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
.hero {
    padding: 40px 0;
    .container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
    }
}

.top-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-top-hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .city-name {
        font-weight: 600;
        font-size: 36px;
    }
    .degree {
        font-weight: 700;
        font-size: 70px;
    }
    .des {
        font-weight: 600;
        font-size: 24px;
    }
}

.right-top-hero {
    width: 250px;
    height: 250px;
}

.bottom-hero {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #bebaba21;
    border-radius: 20px;
    .row {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .text {
                color: #0000008c;
                font-weight: 600;
                font-size: 18px;
            }
            .data {
                font-weight: 600;
                font-size: 26px;
            }
        }
    }
}

.hourly-forecast {
    background-color: #e5f9ffd1;
    padding: 40px 0;
    .container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        .title {
            font-weight: 700;
            font-size: 36px;
            text-align: center;
        }
        .card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
            gap: 40px;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 40px;
        }
        .hour-card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            background: #02020220;
            border-radius: 12px;
            text-align: center;
        }
    }
}

.daily-forecast {
    padding: 40px 0;
    .container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;

        .title {
            font-weight: 700;
            font-size: 36px;
            text-align: center;
        }
        .days {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
            gap: 40px;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 40px;
        }
        .day-card {
            border-radius: 12px;
            background-color: #02020220;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            text-align: center;
        }
    }
}

.footer {
    padding: 40px 0;
    background-color: #a5e4f8;
    .container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        .logo {
            width: 300px;
            height: 300px;
            object-fit: contain;
        }
        .item {
            width: 30px;
            height: 30px;
        }
        .infor {
            .color__content {
                opacity: 65%;
            }
        }
    }
}

@media only screen and (max-width: 660px) {
    .header {
        .container {
            .logo {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
            .search__bar {
                font-size: 10px;
                height: 30px;
            }
            .background-search {
                padding: 5px 14px;
                font-size: 16px;
            }
        }
    }
    .left-top-hero {
        .city-name {
            font-size: 20px;
        }
        .degree {
            font-size: 36px;
        }
        .des {
            font-size: 20px;
        }
    }
    .right-top-hero {
        width: 150px;
        height: 150px;
    }
    .bottom-hero {
        flex-wrap: wrap;
        gap: 20px;
        .row {
            .box {
                .text {
                    font-size: 17px;
                }
                .data {
                    font-size: 22px;
                }
            }
        }
    }
    .hourly-forecast {
        .container {
            .card {
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
            }
        }
    }
    .daily-forecast {
        .container {
            .days {
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
            }
        }
    }
    .footer {
        .container {
        }
    }
}
