* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eefbff;
    font-family: "Inter";
}
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.header {
    background-color: #74e1ff7e;
    .logo {
        width: 150px;
    }
    .box-search {
        max-width: 365px;
        width: 100%;
        .search__bar {
            outline: unset;
            height: 40px;
            border-radius: 8px;
            max-width: 280px;
            width: 100%;
            padding: 0 16px;
            border: 2px solid rgba(0, 0, 0, 0.142);
        }
        .background-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 40px;
            background-color: #0088ff;
            color: white;
            border-radius: 8px;
        }
    }
}
.hero {
    padding: 40px 0;
    .container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
    }
}

.top-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-top-hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .city-name {
        font-weight: 600;
        font-size: 36px;
    }
    .degree {
        font-weight: 700;
        font-size: 70px;
    }
    .des {
        font-weight: 600;
        font-size: 24px;
    }
}

.right-top-hero {
    width: 250px;
    height: 250px;
}

.bottom-hero {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .row {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .text {
                color: #00000082;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}

.hourly-forecast {
    padding: 40px 0;
    .container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        .hour-card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
            background: #02020220;
            border-radius: 12px;
            text-align: center;
        }
    }
}
.footer {
    background-color: #74e1ff7e;
    padding: 8px 0 35px 0;
    .footer__bar {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.12);
    }
    .logo {
        width: 150px;
    }
    .box_infor {
        display: flex;
        gap: 40px;
        .infor {
            width: calc((100% - 300px) / 4);
            .item {
                width: 25px;
                height: 25px;
            }
            .color__content {
                opacity: 60%;
            }
        }
    }
    .color__copyright {
        opacity: 60%;
    }
}
